@media (max-width: 768px) {
  paper-card {
    width: 100%; } }

@media (min-width: 768px) {
  paper-card {
    width: 50%; } }

@media (min-width: 992px) {
  paper-card {
    width: 33%; } }

@media (min-width: 1200px) {
  paper-card {
    width: 24.5%; } }

.citation-reference {
  display: inline-block;
  font-size: small;
  margin: 0;
  vertical-align: super; }

.content a {
  display: inline;
  margin: 0; }

body {
  font-family: sans-serif; }

.content {
  padding: 6px 10px; }
  @media (min-width: 62em) {
    .content {
      margin-left: auto;
      margin-right: auto;
      width: 62em; } }

table {
  border-collapse: collapse; }

td {
  padding: 6px 10px; }

tr:first-of-type td,
tr:first-of-type th {
  background-color: #6bbfff; }

tr:last-of-type td,
tr:last-of-type th {
  background-color: transparent; }

tr:nth-of-type(2n) td {
  background: #e8e8e8; }

.tip {
  border: solid 1px;
  border-top: solid 20px;
  margin-bottom: 6px;
  padding: 6px 10px; }
  .tip.idea {
    background: rgba(146, 207, 148, 0.2);
    border-color: #4caf50; }
  .tip.warning {
    background: rgba(255, 165, 136, 0.2);
    border-color: #ff5722; }
  .tip.error {
    background: rgba(249, 157, 151, 0.2);
    border-color: #f44336; }
  .tip.info {
    background: rgba(209, 235, 255, 0.2);
    border-color: #6bbfff; }
