body {
  font-family: sans-serif;
}

.content {
  padding: $padding-base-vertical $padding-base-horizontal;

  @media(min-width: $screen-lg) {
    margin-left: auto;
    margin-right: auto;
    width: $screen-lg;
  }
}
