<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}
    {{ partial "header.phtml" . }}
        <div class="content">
            {{ partial "google-search.html" . }}
            {{ range .Data.Pages }}
                <!-- Todo: Convert into summary -->
                <paper-card heading="{{ .RelPermalink }}">
                    <div class="card-content">
                        {{ .Summary }}
                    </div>
                    <div class="card-actions">
                        <a href="{{ .RelPermalink }}">
                            <paper-button>Read more</paper-button>
                        </a>
                    </div>
                </paper-card>
            {{ end }}
        </div>
{{ partial "footer.html" . }}
