{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Site.Params.subtitle }}</h2>
</div>

<div class="content">
  <script>
  (function() {
    var cx = '010510947978542680455:zll9zofjxww';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>

  <ul id="list">
    {{ range .Data.Pages }}
      {{ .Render "li"}}
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}

</div>

{{ partial "footer.html" . }}
